<section>
  <h1>King James Version</h1>
  <h2>The Protestant's Bible</h2>
  <p>In 1604, King James I of England authorized that a new translation of the Bible into English be started. It was finished in 1611, just 85 years after the first translation of the New Testament into English appeared (Tyndale, 1526). The Authorized Version, or King James Version, quickly became the standard for English-speaking Protestants. Its flowing language and prose rhythm has had a profound influence on the literature of the past 400 years. 
  </p>

  <div class="links">
    <h3>Old Testament (39)</h3>
    <h4>Law</h4>
    <% for (let idx = 0; idx < 5; idx++) { %>
    <a href="kjv/<%- books[idx] %>"><%- books[idx] %></a>
    <% } %>

    <h4>History</h4>
    <% for (idx = 5; idx < 17; idx++) { %>
    <a href="kjv/<%- books[idx] %>"><%- books[idx] %></a>
    <% } %>

    <h4>Poetry</h4>
    <% for (idx = 17; idx < 22; idx++) { %>
    <a href="kjv/<%- books[idx] %>"><%- books[idx] %></a>
    <% } %>

    <h4>Major Prophets</h4>
    <% for (idx = 22; idx < 27; idx++) { %>
    <a href="kjv/<%- books[idx] %>"><%- books[idx] %></a>
    <% } %>

    <h4>Minor Prophets</h4>
    <% for (idx = 27; idx < 39; idx++) { %>
    <a href="kjv/<%- books[idx] %>"><%- books[idx] %></a>
    <% } %>

    <h3>New Testament (27)</h3>

    <h4>Gospels</h4>
    <% for (idx = 39; idx < 43; idx++) { %>
    <a href="kjv/<%- books[idx] %>"><%- books[idx] %></a>
    <% } %>

    <h4>History</h4>
    <% for (idx = 43; idx < 45; idx++) { %>
    <a href="kjv/<%- books[idx] %>"><%- books[idx] %></a>
    <% } %>

    <h4>Espistles</h4>
    <% for (idx = 45; idx < 65; idx++) { %>
    <a href="kjv/<%- books[idx] %>"><%- books[idx] %></a>
    <% } %>

    <h4>Prophecy</h4>
    <a href="kjv/<%- books[65] %>"><%- books[65] %></a>
  </div>
</section>
