<section>
  <h1>Search Results</h1>
  <h2>KJV</h2>
  <% for (const r of results) { %>
  <a class="normal" href="kjv/<%- r.bookName %>/<%- r.chapter %>#<%- r.verse%>"><%- r.text %>
    <strong class="ref">
      <%- r.bookName %> <%- r.chapter %>:<%- r.verse %>
    </strong>
  </a>
  <% } %>
</section>
