<a  href="sdah/song/<%- song.number %>" class=""><span><%- song.title %> - (<%- song.number %>)</span></a>
<a  href="sdah/song/<%- song.number %>" class="icon fa-list index-action"><span class="label">Chanson</span></a>
<a  href="sdah/presentation/<%- song.number %>" class="icon fa-laptop index-action"><span class="label">Presentation</span></a>
<p class="song-summary"><em><%- song.summary %></em></p>
