<% include partial/head %>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
  <% include partial/header %>

    <div class="app-body">
       <% include partial/sidebar %>
        <!-- Main content -->
        <main class="main">
         <% include partial/breadcrum %>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <i class="fa fa-align-justify"></i> Hymnes Et Louanges
                    </div>
                    <div class="card-block">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Number</th>
                            <th>Title</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for (const item of page.hymns.data) { %>
                          <tr>
                            <td><%- item.number %></td>
                            <td><%- item.title %></td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <ul class="pagination">
                    <% if (page.hymns.prev) { %>
                    <li class="page-item">
                      <a class="page-link" href="<%- base %>admin/hls/<%- page.hymns.prev %>">Prev</a>
                    </li>
                    <% } %>
                    <% for (const index of page.hymns.pages) { %>
                      <li class="page-item <% if (page.hymns.page === index) { %>active<% } %>">
                        <a class="page-link" href="<%- base %>admin/hls/<%- index %>"><%- index %></a>
                      </li>
                    <% } %>
                    <% if (page.hymns.next) { %>
                      <li class="page-item">
                        <a class="page-link" href="<%- base %>admin/hls/<%- page.hymns.next %>">Next</a>
                      </li>
                    <% } %>
                </ul>
                </div>
            </div>
        </main>
    </div>

  <% include partial/footer %>
  <% include partial/script %>

  <!-- GenesisUI main scripts -->
  <script src="js/app.js"></script>

</body>
</html>
