<html>
<head>
  <% include partial/base_head %>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/css/reveal.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/css/theme/simple.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <style>
    .reveal .title {
      color: #f56a6a;
    }
    .reveal .progress span{
      background: #f56a6a;
    }
    .reveal .icons {
      display: inline-block;
      margin: 0 18px;
    }
    .reveal .icons a:hover {
      color: #f56a6a;
    }
    .reveal .icons a {
      color: #3d4449;
    }
    .reveal small {
      margin-top: 48px;
      font-size: 30%;
    }
    input {
      padding: 16px;
      font-size: 24px;
      text-align: center;
      border: none;
      border-bottom: 1px solid black;
      width: 32%;
      outline: none;
    }
    .fa {
      font-size: 32px;
    }
  </style>
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <section>
        <% if (showSearch) { %>
        <section>
          <h6 class="title">Hymnes et Louanges</h6>
          <input type="text" placeholder="Entrez un numero">
        </section>
        <% } else { %>
          <% for (const song of songs) { %>
          <section>
            <h5 class="title"><%- song.number %></h5>
            <h3><%- song.title %></h3>
            <h6>Hymnes et Louanges</h6>
          </section>
            <% for (const part of song.slides) { %>
              <% const verse = song.verses[song.parts.indexOf(part)] %>
              <% const prez = verse.length <= 8 ? [verse] : song.chunk(verse, Math.ceil(verse.length / 2)) %>
              <% for (let num = 0; num < prez.length; num++) { %>
                <section>
                <% if (Number(num) === 0) { %><h6 class="title"><%- part.replace(/_/g, ' ') %></h6><% } %>
                <% for (const line of prez[num]) { %>
                  <%- line %><br/>
                <% } %>
                </section>
              <% } %>
            <% } %>
          <% } %>
          <section>
          <% if (songs[songs.length - 1].prev) { %>
            <h1 class="icons"><a  href="hl/presentation/<%- songs[songs.length - 1].prev %>"><i class="fa fa-chevron-left"></a></i></h1>
          <% } %>
          <h1 class="icons"><a  href="hl/presentation"><i class="fa fa-home"></a></i></h1>
          <h1 class="icons"><a  href="hl/chant/<%- songs[songs.length - 1].number %>"><i class="fa fa-list-ul"></a></i></h1>
          <% if (songs[songs.length - 1].next) { %>
            <h1 class="icons"><a  href="hl/presentation/<%- songs[songs.length - 1].next %>"><i class="fa fa-chevron-right"></a></i></h1>
          <% } %>
          <br>
          <small>Hymnes Et Louanges</small>
        </section>
      <% } %>
      </section>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/js/reveal.min.js"></script>
  <script>
    Reveal.initialize({
      controls: false,
      keyboard: true,
    });
    const search = document.querySelector('input');
    if (search) {
      search.addEventListener('keyup', (e) => {
        const query = search.value;
        if (query && e.keyCode === 13) {
          window.location.href = '<%- base %>hl/presentation/' + encodeURIComponent(query);
        }
      });
    }
  </script>
</body>
</html>
